@import url(./css/normalize.css);
@import url(./css/base.css);

.hidden {
  display: none;
}

section {
  height: 100vh;
}

/* Страничка авторизации */

.authorization__container {
  align-items: center;
  flex-direction: column;
  padding: 40px;
  max-width: 452px;
  gap: 10px;
  height: 100vh;
  padding-top: 80px;
}

.authorization__img {
  width: 139px;
  height: 139px;
  background: #232F3D;
  border-radius: 50%;
  position: relative;
}

.authorization__img-icon {
  position: absolute;
  transform: translate(30%, 50%);
}

.authorization__title {
  font-size: 24px;
  font-weight: 500;
}

.authorization__text {
  color: #7F91A4;
  max-width: 300px;
  text-align: center;
}

.authorization__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

input {
  position: relative;
  font-size: inherit;
  background: inherit;
  border: none;
  color: white;
  padding: 12px;
}

input:focus {
  outline: none;
}

.authorization__input {
  border-bottom: 1px solid #465461;
}

.authorization__input::placeholder {
  color: #858F98;
}

.authorization__button {
  background: #5188C1;
  width: 132px;
  height: 43px;
  border-radius: 5px;
  color: white;
}

/* Модальное окно аватара */

.modal-avatar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(00, 00, 00, .4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal-avatar-container {
  position: relative;
}

.modal-avatar__content {
  width: 364px;
  height: 220px;
  background: #17212B;
  border-radius: 5px;
  padding: 32px;
  color: #fff;
  margin: 0;
}

.modal-avatar-close {
  color: #747E87;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
}

.modal-avatar__title {
  margin-bottom: 34px;
}

.modal-avatar__save {
  display: flex;
  gap: 15px;
}

.modal-avatar__photo {
  height: 86px;
  width: 86px;
  border-radius: 50%;
  background-color: #232F3D;
  background-image: url(../../projects/chat/img/photo.png);
  background-size: 100%;
  position: relative;
}

/* .modal-avatar__photo-icon {
  width: 23px;
  height: 20px;
  position: absolute;
  top: 38%;
  left: 38%;
} */

.modal-avatar__name {
  font-weight: 500;
  font-size: 18px;
  margin-top: 30px;
}


/* Страничка загрузки аватара */

.avatar {
  background: rgba(00, 00, 00, .4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.avatar__container {
  background: #17212B;
  gap: 10px;
  padding: 20px;
  height: 452px;
  width: 450px;
  align-items: center;
  flex-direction: column;
  top: 10%;
}

.avatar__img {
  width: 284px;
  height: 308px;
  background-size: 100%;
}

.avatar__text {
  color: #7F91A4;
}

.avatar__button {
  color: #6BB2F2;
  padding: 10px;
}

.avatar__button:hover {
  background: #1D2A3A;
  border-radius: 2px;
}

/* Основная страничка чата */

.general__container {
  height: 100vh;
  position: relative;
  flex-direction: row;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hamburger {
  width: 20px;
  height: 15px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger__plank {
  display: block;
  background: #7F91A4;
  height: 2px;
  border-radius: 10px;
}

.users__header {
  padding: 15px;
}

.users__list {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user {
  display: flex;
}

.user__avatar {
  width: 46px;
  height: 46px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* .users__avatar-icon {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

.user__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
}

.user__name {
  color: #5387C1;
  font-weight: bold;
}

.user__lastmessage {
  color: #7F91A4;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.chat__header {
  display: flex;
  flex-direction: column;
  height: 60px;
  border-left: 1px solid #0E1621;
  padding: 14px;
}

.chat__title {
  font-size: 14px;
}

.chat__countusers {
  color: #7F91A4;
}

.chat__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #0E1621;
  padding: 10px;
  overflow: overlay;
  overflow-y: inherit;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.first-in-group .message-item-left {
  height: 32px;
  width: 33px;
}

.first-in-group {
  display: flex;
  gap: 4px;
}

.message-item-left {
  margin-top: 20px;
}

.message-item-photo {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.message-item {
  margin-left: 38px;
}

/* .own .message-item {
  display: flex;
  justify-content: flex-end;
  margin-right: 36px;
} */

.message-item.first-in-group {
  margin-left: 0;
}

.message-item.first-in-group.own {
  margin-right: 0;
}

.message-item.own {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 38px;
  /* justify-content: flex-end; */
}

/* .first-in-group.own {
  flex-direction: row-reverse;
} */

.message-item-header {
  display: none;
}

.own .message-item-header {
  text-align: end;
}

.first-in-group .message-item-header {
  display: block;
}

.message-item-photo {
  background-size: 100%;
}

.own .message-item-body {
  text-align: end;
}

.message-item-system {
  color: #7F91A4;
  text-align: center;
  margin: 0;
}

.own .message-item-name {
  text-align: end;
}

.message-item-name {
  color: #5387C1;
  font-weight: 500;
  text-align: start;
}

.message-item-body {
  display: flex;
  gap: 10px;
  background: #182633;
  padding: 8px;
  border-radius: 5px;
  min-width: min-content;
  max-width: max-content;
}

.message-item-time {
  color: #7F91A4;
  font-size: 12px;
  bottom: 0;
}

.own .message-item-body {
  background: #2B5279;
}

.chat__footer {
  height: 60px;
  border-left: 1px solid #0E1621;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.chat__input {
  flex: 1;
}

.chat__button {
  text-transform: none;
  background: #5188C1;
  width: 112px;
  height: 30px;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  font-size: 14px;
}